.header-navigation {
  align-self: flex-end;

  .header-navigation__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  @media (min-width: @tablet-width) {
    .header-navigation__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 440px;
    }

    .header-navigation__toggle {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    .header-navigation__list {
      width: 478px;
    }
  }

  .header-navigation__item {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
  }

  .header-navigation__link {
    text-decoration: none;
    color: @black;
  }
}
