.header-navigation {
  &--closed .header-navigation__toggle::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: @black;
    box-shadow: 0 8px 0 0 @black, 0 16px 0 0 @black;
  }

  &--closed .header-navigation__toggle:hover::before {
    background-color: fade(@black, 60%);
    box-shadow:
      0 8px 0 0 fade(@black, 60%),
      0 16px 0 0 fade(@black, 60%);
  }

  &--closed .header-navigation__toggle:active::before {
    background-color: fade(@black, 30%);
    box-shadow:
      0 8px 0 0 fade(@black, 30%),
      0 16px 0 0 fade(@black, 30%);
  }

  @media (max-width: @mobile-width-only) {
    &--closed .header-navigation__list {
      display: none;
    }

    &--opened {
      display: block;
    }
  }

  &--opened .header-navigation__toggle::before,
  &--opened .header-navigation__toggle::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: @black;
  }

  &--opened .header-navigation__toggle::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &--opened .header-navigation__toggle::after {
    transform: rotate(-45deg);
  }

  &--opened .header-navigation__toggle:hover::before,
  &--opened .header-navigation__toggle:hover::after {
    background-color: fade(@black, 60%);
  }

  &--opened .header-navigation__toggle:active::before,
  &--opened .header-navigation__toggle:active::after {
    background-color: fade(@black, 30%);
  }
}

.header-navigation__toggle-box {
  position: relative;
}

.header-navigation__toggle {
  position: absolute;
  top: -6px;
  right: 0;
  z-index: 2;
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: @white;
  cursor: pointer;
  border: none;
}

.header-navigation__list {
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  min-width: 322px;
  z-index: 10;
  background-color: @white;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .header-navigation__list {
    display: flex;
    flex-wrap: wrap;
    width: 471px;
    position: relative;
    top: 0;
    left: 0;
  }

  .header-navigation__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .header-navigation__list {
    width: 512px;
    background-color: transparent;
  }
}

.header-navigation--nojs .header-navigation__toggle {
  display: none;
}

.header-navigation--nojs .header-navigation__list {
  display: block;
}

.header-navigation__item {
  border-top: 1px solid @lightest-black;

  @media (min-width: @tablet-width) {
    border: none;
    position: relative;
    margin-left: 34px;

    &--current {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-color: @basic-green;
      }
    }
  }

  &--color {
    @media (min-width: @desktop-width) {
      &::after {
        background-color: @white;
      }
    }
  }
}

.header-navigation__link {
  position: relative;
  display: block;
  padding: 22px 20px 24px;
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: @black;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;

    &--color {
      color: @white;
    }
  }
}

@media (min-width: @desktop-width) {
  .header-navigation__item--current::after .header-navigation__link--color {
    background-color: @white;
  }
}
