.page-header {
  padding-top: 10px;
  padding-bottom: 17px;

  .page-header__container {
    margin: 0 20px;
  }
}

.header-navigation {
  .header-navigation__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .header-navigation__item {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
  }

  .header-navigation__link {
    text-decoration: none;
    color: #000000;
  }
}
