.location {
  position: relative;

  iframe {
    display: block;
    border: none;
    width: 100%;

    @media (min-width: @tablet-width) {
      height: 400px;
    }
  }
}

.location-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
  }
}
