.page-footer {
  padding-top: 39px;
  padding-bottom: 22px;
  background-color: @basic-grey;

  .page-footer__container {
    margin: 0 20px;
  }

  .page-footer__logo {
    padding-bottom: 32px;
  }

  .page-footer__logo-academy {
    padding-top: 28px;
    padding-bottom: 32px;
  }

  .page-footer__logo-academy-link {
    font-family: @addition-font-family;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    color: @dark-grey;
  }
}
