.page-header {
  padding-top: 10px;
  padding-bottom: 17px;

  @media (min-width: @tablet-width) {
    padding-top: 24px;
    padding-bottom: 0;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 53px;
    margin-bottom: 74px;
  }

  .page-header__container {
    @media (min-width: @tablet-width) {
      margin: 0 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media (min-width: @desktop-width) {
      margin: 0 110px;
    }
  }

  .page-header__logo-container {
    display: flex;
    margin: 0 20px;
    width: 191px;
    justify-content: space-between;

    @media (min-width: @tablet-width) {
      margin: 0;
      width: 174px;
    }

    @media (min-width: @desktop-width) {
      margin: 0 110px;
      width: 202px;
    }
  }

  .page-header__logo-link {
    height: 38px;
    display: flex;
    align-items: center;

    @media (min-width: @tablet-width) {
      height: 52px;
    }

    @media (min-width: @desktop-width) {
      height: 59px;
    }
  }
}
