.example {
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: @light-grey;

  .example__container {
    margin: 0 20px;
  }

  .example__title {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
  }

  .example__description {
    font-family: @addition-font-family;
    color: @dark-grey;
    margin-bottom: 20px;
  }

  .example__results {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  .example__data {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 7px;
  }

  .example__parameters {
    font-family: @addition-font-family;
    font-size: 12px;
    line-height: 12px;
    color: @dark-grey;
  }

  .example__price {
    margin: 0;
    margin-bottom: 40px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .example__photo-changes {
    display: block;
    margin-bottom: 15px;
  }

  .example__photo-text {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }
}
