.promo {
  background-color: rgba(104, 183, 56, 0.85);
  padding-top: 27px;

  .promo__title {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 400;
  }

  .promo__description {
    display: block;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 29px;
  }

  .promo__image {
    display: block;
  }

  .promo__container-button {
    background-color: #ffffff;
    padding-top: 138px;
    padding-bottom: 20px;
  }

  .promo__link {
    display: block;
    min-width: 244px;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #68b738;
    padding: 11px 44px;
    text-align: center;
    vertical-align: middle;
  }
}

