.form-wrapper {
  margin: 0 20px;
  padding-top: 27px;
  padding-bottom: 32px;
  max-width: 280px;

  @media (min-width: @tablet-width) {
    margin: 0 30px;
    padding: 0 40px 72px 36px;
    max-width: 708px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 110px;
    padding: 0;
    padding-bottom: 82px;
    max-width: 1220px;
  }
}
