.form {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    gap: 80px;
  }

  .form__item {
    margin: 0;
    padding: 25px 0 23px;
    border: none;

    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 34px;
    }

    @media (min-width: @tablet-width) {
      padding-left: 40px;
      padding-right: 37px;
    }

    @media (min-width: @desktop-width) {
      grid-column: span 2;

      &--full {
        grid-column: span 4;
      }
    }
  }

  .form__item-container {
    @media (min-width: @desktop-width) {
      display: flex;
      gap: 69px 80px;
    }
  }

  .form__item-legend {
    margin: 0;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 35px;
  }

  .form__item-wrapper {
    margin-bottom: 14px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
  }

  .form__item-label {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: @dark-grey;
    align-self: center;
  }

  .form__item-input {
    margin: 0;
    font: inherit;
    padding: 13px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: @dark-grey;
    border: 1px solid #e7e7e7;

    @media (min-width: @desktop-width) {
      min-width: 436px;
      box-sizing: border-box;
    }
  }

  .form__item-radio {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .form__item-radio-button {
    margin-bottom: 12px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .form__item-radio-button-label-text {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: @darkest-gray;
  }

  .form__item-checkbox {
    list-style-type: none;
    margin: 0;
    padding: 0;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 32px 123px;
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: repeat(4, 245px);
      gap: 60px 80px;
    }
  }

  .form__item-checkbox-button {
    margin-bottom: 12px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .form__item-checkbox-button-label-text {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }

  .form__button-container {
    @media (min-width: @tablet-width) {
      display: flex;
      align-items: center;
    }

    @media (min-width: @desktop-width) {
      grid-column: span 3;
      display: grid;
      grid-template-columns: repeat(4, 245px);
    }
  }

  .form__button {
    margin-bottom: 21px;
    padding: 7px 44px;

    @media (min-width: @tablet-width) {
      margin-bottom: 0;
      margin-right: 61px;
    }

    @media (min-width: @desktop-width) {
      grid-column: span 2;
    }
  }

  .form__text {
    display: block;
    font-size: 14px;
    line-height: 16px;
  }
}
