.additional-product {
  padding-top: 13px;
  padding-bottom: 19px;
  position: relative;

  @media (max-width: @mobile-width-only) {
    &::before {
      content: "";
      height: 1px;
      width: 100%;
      position: absolute;
      top: 0;
      background-color: @special-dark-grey;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 26px 38px 28px;
    border-top: 1px solid @special-gray;
    border-bottom: 1px solid @special-gray;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    grid-column: span 3;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 16px;

    &:not(:last-child) {
      border-bottom: none;
    }
  }
}

.additional-product__container {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    width: 613px;
    margin-bottom: 0;
  }
}

.additional-product__title {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @darkest-gray;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }
}

.additional-product__wrapper {
  width: 282px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
  }

  @media (min-width: @desktop-width) {
    margin-left: auto;
    width: 338px;
    justify-content: space-between;
  }
}

.additional-product__data {
  font-family: @addition-font-family;
  line-height: 14px;
  color: @dark-grey;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-left: 50px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    text-align: end;
  }
}

.additional-product__button {
  width: 280px;
  text-decoration: none;
  padding: 10px;

  @media (min-width: @tablet-width) {
    width: 632px;
  }

  @media (min-width: @desktop-width) {
    width: 244px;
  }
}
