.catalog-basic {
  padding-bottom: 25px;
  position: relative;

  @media (max-width: @mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      bottom: 16px;
      width: 1000%;
      height: 1px;
      left: -20px;
      background-color: @special-dark-grey;
    }
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    margin-bottom: 68px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/-1;
    grid-row: auto;
    margin-bottom: 0;
  }
}

.catalog-basic__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 102px 60px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    gap: 64px 80px;
  }
}
