.catalog-additional {
  padding-top: 11px;
  margin-bottom: 35px;
  position: relative;

  @media (max-width: @mobile-width-only) {
    &::after {
      content: "";
      height: 1px;
      width: auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: @special-dark-grey;
    }
  }

  @media (min-width: @tablet-width) {
    padding-top: 0;
    margin-bottom: 68px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/-1;
    grid-row: 3/4;
    margin-bottom: 0;
  }
}

.catalog-additional__title {
  margin: 0;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding: 0 22px;
  margin-left: -22px;
  position: relative;
  display: inline-block;
  background-color: @white;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 1000%;
    left: 0;
    top: 56%;
    background-color: @basic-green;
    z-index: -1;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    padding: 0 36px;
    margin-left: 0;

    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 1000%;
      right: 0;
      top: 56%;
      background-color: @basic-green;
      z-index: -1;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0 35px 0 40px;
    margin-left: -40px;
  }
}

.catalog-additional__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    gap: 0 80px;
  }
}
