.main-title {
  margin: 0;
  margin-bottom: 49px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: @tablet-width) {
    margin-bottom: 127px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    grid-column: 1/3;
  }
}
