.product {
  padding-top: 11px;
  padding-bottom: 14px;
  margin-bottom: 19px;

  &:nth-last-of-type(2) {
    margin-bottom: 36px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .product__link {
    text-decoration: none;
  }

  .product__title {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    color: @darkest-gray;
    margin-bottom: 20px;
    font-weight: 400;
  }

  .product__description-list {
    margin: 0;
    margin-bottom: 22px;
    padding: 0;
    font-family: @addition-font-family;
    font-size: 12px;
    line-height: 16px;
    color: @dark-grey;
    list-style-type: none;
  }

  .product__description-list-data {
    margin: 0;
  }

  .product__button {
    min-width: 280px;
    text-decoration: none;
    padding: 10px;

    &--more {
      color: @dark-grey;
      background-color: @basic-grey;
    }
  }

  .product__text-show {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: @light-black;
    margin-bottom: 8px;
  }

  .product__text {
    font-family: @addition-font-family;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: @dark-grey;
    margin-bottom: 21px;
  }
}
